<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <h1>Інформація про персонажа</h1>
        <p>Ім'я: <%= name %></p>
        <p>Стать: <%= gender %></p>
        <p>Дата народження: <%= birthYear %></p>
        <p>Колір очей: <%= eyeColor %></p>
    </article>
</body>
</html>